.navbar-nav a:hover{
    color: rgb(44, 0, 240);
    display: block;
}

.nav-class{
    background-color: rgb(141, 132, 223)
}
a{
    color: rgb(255, 255, 255);
    margin-left: 35px;
    font-size: 20px;
}
.custom-nav{
    -webkit-box-shadow: -1px 4px 26px -4px rgba(45,26,217,1);
    -moz-box-shadow: -1px 4px 26px -4px rgba(45,26,217,1);
    box-shadow: -1px 4px 26px -4px rgba(45,26,217,1);
    height: 75px;
}
#logout:hover {
    color: rgb(238, 11, 11);
}
#userName:hover {
    color: rgb(13, 245, 13);
}