<nav class="navbar navbar-expand-sm nav-class custom-nav"  *ngIf="allowFunc">
  <a [routerLink]="['']" class="navbar-brand hover-home">Home</a>
    <div class="navbar-nav">
      <a [routerLink]="['users']"  class="nav-item nav-link active">Users</a>
      <a [routerLink]="['register']" class="nav-item nav-link">Register</a>
      <a [routerLink]="['messages']" class="nav-item nav-link">Messages</a>
    </div>
    <div class="navbar-nav ml-auto" >
        <a id="userName" [routerLink]="['home']"  class="nav-item nav-link">{{userName}}</a>
        <a id="logout" (click)="onLogOut()" routerLink="" class="nav-item nav-link">LogOut</a>
      </div>
</nav>
