<h3> Admin Panel</h3>
<div class="container">
    <div class="row">
        <div class="col-sm-4" *ngFor="let user of Users" style="margin-bottom: 20px;" >
            <div class="card">
                <img src="https://st3.depositphotos.com/5934840/18419/v/1600/depositphotos_184192444-stock-illustration-man-faceless-profile.jpg"
                    alt="John" style="width:100%; max-height: 250px;;">
                <h1>{{user.firstName}} {{user.lastName}}</h1>
                <p class="title">{{user.email}} </p>
                <p>{{user.userName}}</p>
                
                <p><button>Update</button></p>
            </div>
        </div>
    </div>
</div>
