.container {
    width: 30%;
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
}
form span{
    color: red;
}
form {
    padding-top: 20px;
    padding-bottom: 20px;
}
button {
    margin-right: 20px;
    margin-bottom: 20px;
}
.form-container {
    border: 0px solid blue;
    padding: 30px 40px;
    margin-top: 20vh;
    background: rgb(188, 188, 228);
    border-radius: 15px ;
    -webkit-box-shadow: -1px 4px 26px -4px rgba(45,26,217,1);
    -moz-box-shadow: -1px 4px 26px -4px rgba(45,26,217,1);
    box-shadow: -1px 4px 26px -4px rgba(45,26,217,1);
}
.form-container h1{
    color: rgb(251, 253, 250);
}
input{
    border-radius: 15px ;
}
input[type=text]:focus {
    background-color: rgb(189, 189, 228);
    color: white;
  }
button{
border-radius: 15px ;
}
.text-center{
    align-content: center;
}