<div class="container-fluid bg">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-xs-12"> </div>    
        <div class="col-sm-8 col-md-4 col-xs-12">  
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="!loading" class="form-container">
                <h1>LOGIN CREDENTIAL</h1>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text"
                        class="form-control form-control-lg"
                        id="username"
                        formControlName = "username" >
                    <span
                        *ngIf = "!loginForm.get('username').valid && loginForm.get('username').touched" class="help-block"
                        >Please enter a username</span>
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password"
                        class="form-control form-control-lg"
                        id="password"
                        formControlName = "password">
                    <span
                    *ngIf = "!loginForm.get('password').valid && loginForm.get('password').touched" class="help-block"
                    >Please enter a valid password</span>
                    <span>{{error}} </span>
                </div>
                <div>
                    
                </div>
                <button class="btn btn-success btn-block">Submit</button>
            </form>
            <div class="text-center">
                    <div class="spinner-border" role="status" *ngIf="loading">
                        <span class="sr-only" >Loading...</span>
                    </div>
                </div>
            <!-- <h4 *ngIf="loading"> Loading </h4> -->
        </div>
    </div>
</div>

