<div class="container-fluid" style="padding-top: 50px; padding-left: 40px;">
    <div class="row">
        <div class="col col-12 col-sm-2 scrollable" style="border: 1px solid black; height: 500px; margin-right:40px;" >
            <ul 
                class="list-group list-group-flush"
                *ngFor="let user of users">
                <div class="card bg-light mb-3 card-class" style="max-width: 18rem;">
                    <div class="card-body c-b">
                        <div class="row">
                            <div class="col col-sm-2">
                                <img src="https://www.giraffecvs.co.uk/wp-content/uploads/2014/10/faceless.jpg" 
                                width="30" height="30" >
                            </div>
                            <div class="col c-t">
                                <button class="btn b-c" (click)="userClicked(user)" >{{user.firstName}} {{user.lastName}}</button> 
                            </div>
                        </div>
                    </div>
                </div>     
            </ul>   
        </div>
        <div class="col-sm-8 chat-area" >
            <div class="text-center">
                <div class="spinner-border" role="status" *ngIf="loading">
                    <span class="sr-only" >Loading...</span>
                </div>
            </div>
            <router-outlet *ngIf="!loading"></router-outlet>
        </div>
    </div>
</div>

