button {
    border-top: 1px solid;
}
button:hover {
    color: blue;
    
}
button:active {
    box-shadow: 0 5px rgb(57, 38, 168);
    transform: translateY(4px);
  }
.chat-area{
border: 1px solid rgb(110, 94, 202); 
height: 600px;
border-radius: 0px;
background-color: white;
border-radius: 10px;
-webkit-box-shadow: 10px 4px 19px 3px rgba(87,98,201,0.57);
-moz-box-shadow: 10px 4px 19px 3px rgba(87,98,201,0.57);
box-shadow: 10px 4px 19px 3px rgba(87,98,201,0.57);
}
.card-class {
    height: auto;
    background-color: transparent !important;
    margin: 0px 0px !important;
    border: 0px;
    padding-bottom: 10px;
}
.c-b{
    padding: 4px;
    margin: 0px;
}
.c-t{
    padding-left: 15px; 
}

img {
border-radius: 50%;
}
.b-c{
    border: 0px;
    width: 90%;
    padding-left: 4px;
    text-align: left;
}
.scrollable{
height: 450px;
overflow: scroll;
border-radius: 20px;
scroll-margin-bottom: false;
overflow-x: hidden;
overflow-y: hidden;
background-color: white;
-webkit-box-shadow: 10px 4px 19px 3px rgba(87,98,201,0.57);
-moz-box-shadow: 10px 4px 19px 3px rgba(87,98,201,0.57);
box-shadow: 10px 4px 19px 3px rgba(87,98,201,0.57);
}
ul{
    padding-top: 8px;
}
