.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    margin-top: 100px;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  .right {
    float: right;
    color: white;
    padding: 5px 20px;
    border-radius: 20px;
}
.scrollable{
  height: 450px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 20px;
}
.container{
  height: 400vh;
}