
<div class="card">
     <img src="https://st3.depositphotos.com/5934840/18419/v/1600/depositphotos_184192444-stock-illustration-man-faceless-profile.jpg"
          alt="John" style="width:100%; max-height: 250px;;">
     <h1>{{userDetail.firstName}} {{userDetail.lastName}}</h1>
     <p class="title">{{userDetail.email}} </p>
     <p>{{userDetail.userName}}</p>
     <a href="#"><i class="fa fa-dribbble"></i></a>
     <a href="#"><i class="fa fa-twitter">a</i></a>
     <p><button>Update</button></p>
</div>

