<div class="container-fluid bg">
    <div class="row">
        <div class="col">
                <form [formGroup]="signupForm" (ngSubmit)="onSignup()" class="form-container" #f="ngForm">
                        <h1>CREATE USER</h1>
                        <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text"
                            class="form-control form-control-lg"
                            id="username"
                            formControlName = "username">
                        <span
                            *ngIf = "!signupForm.get('username').valid && signupForm.get('username').touched" class="help-block"
                            >Please enter a username</span>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text"
                                class="form-control form-control-lg"
                                id="email"
                                formControlName = "email" >
                            <span
                                *ngIf = "!signupForm.get('email').valid && signupForm.get('email').touched" class="help-block"
                                >Please enter a valid email</span>
                        </div>
                        <div class="row">
                                <div class="col-sm-6">
                                        <div class="form-group">
                                        <label for="fname">First Name</label>
                                        <input type="text"
                                            class="form-control form-control-lg"
                                            id="fname"
                                            formControlName = "fname" >
                                        <span
                                            *ngIf = "!signupForm.get('fname').valid && signupForm.get('fname').touched" class="help-block"
                                            >Please enter a valid first name</span>
                                    </div>
                                </div>
                                    <div class="col-sm-6">
                                            <div class="form-group">
                                                    <label for="lname">Last Name</label>
                                                    <input type="text"
                                                        class="form-control form-control-lg"
                                                        id="lname"
                                                        formControlName = "lname" >
                                                    <span
                                                        *ngIf = "!signupForm.get('lname').valid && signupForm.get('lname').touched" class="help-block"
                                                        >Please enter a valid last name</span>
                                                </div>
                                    </div>
                        </div>
                        <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="">Role</label>
                                                <select name="role" 
                                                    id="role" 
                                                    class="form-control form-control-lg"
                                                    formControlName = "role">
                                                    <option value="User">User</option>
                                                    <option value="Admin">Admin</option>
                                                </select>
                                            </div>
                                    </div>
                            <!-- <div class="col-sm-4">
                                    <div class="form-group">
                                            <label for="role">Role</label>
                                            <input type="text"
                                                class="form-control form-control-lg"
                                                id="role"
                                                formControlName = "role" >
                                            <span
                                                *ngIf = "!signupForm.get('role').valid && signupForm.get('role').touched" class="help-block"
                                                >Please enter a valid role (user and admin)</span>
                                        </div>
                            </div> -->
                            <div class="col-sm-8">
                                    <div class="form-group">
                                            <label for="Password">Password</label>
                                            <input type="password"
                                                class="form-control form-control-lg"
                                                id="password"
                                                formControlName = "password">
                                            <span
                                            *ngIf = "!signupForm.get('password').valid && signupForm.get('password').touched" class="help-block"
                                            >Please enter a valid password</span>
                                        </div>
                            </div>
                        </div>
                        
                        <button class="btn btn-primary" [disabled]="!f.valid">Create</button>
                    </form>
        </div>
    </div>
</div>