.container-fluid {
    margin-top: 100px;
    width: 50%;
    height: 120vh;
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
}
form span{
    color: red;
}
form {
    padding-top: 20px;
    padding-bottom: 20px;
}
button {
    margin-right: 20px;
    margin-bottom: 20px;
}

.form-container {
    border: 1px solid blue;
    padding: 30px 40px;
    margin: auto;
    border-radius: 15px ;
    background: rgb(188, 188, 228);
    -webkit-box-shadow: -1px 4px 26px -4px rgba(45,26,217,1);
    -moz-box-shadow: -1px 4px 26px -4px rgba(45,26,217,1);
    box-shadow: -1px 4px 26px -4px rgba(45,26,217,1);
}

.form-container h1{
    padding-left: 35%;
    color: rgb(72, 31, 167);
    text-shadow: 5px;
    
}
input{
    border-radius: 15px ;
}
input[type=text]:focus {
    background-color: rgb(189, 189, 228);
    color: white;
  }
button{
border-radius: 15px ;
}
.form-container select{
    border-radius: 15px ;
}
