<div class="container">
   <div class="row" >
    <div class="card bg-light mb-3 card-class" style="max-width: 18rem;">
        <div class="card-body c-b">
            <div class="row" style="padding-top: 10px;">
                <div class="col col-sm-2">
                    <img src="https://www.giraffecvs.co.uk/wp-content/uploads/2014/10/faceless.jpg" 
                    width="40" height="40">
                </div>
                <div class="col c-t">
                    <h4>{{receiverName}} </h4>
                </div>
            </div>
        </div>
    </div>
   </div>
   <div class="row" style="margin-top: 4px;">
        <div class="col-4 col-md-12">
            <div class="scrollable" #scroll  >
                <table class="table table-borderless table-light">
                    <tbody>
                        <tr *ngFor="let message of receivedMessages">
                            <td >   
                               <div>
                                    <img *ngIf="!givewhat(message.senderUserName)" src="https://www.giraffecvs.co.uk/wp-content/uploads/2014/10/faceless.jpg" 
                                width="30" height="30" style="float: left; margin-right:10px;  border-radius: 50%;">
                                <p 
                                [ngStyle]="{backgroundColor: getColor(message.senderUserName)}" 
                                [ngClass]="{right:  givewhat(message.senderUserName)}">{{message.content}}
                                 <span [ngClass]="{rightD:  givewhat(message.senderUserName)}"><br> {{message.timeStamp}}</span></p>
                               </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- <div class="col-sm-2" style="height: 500px; margin-right:40px;"></div> -->
<div class="col-sm-12 hhh" style=" margin-top: 10px; height: 60px;" >
    <div class="row">
        <div class="col-sm-10">
           <form #f="ngForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
            <textarea class="form-control" 
            name="usermsg"
            type="text" 
            id="usermsg"
            rows="1" 
            placeholder="type message"
            ngModel
            (keydown.enter)="onKeyPressed()"></textarea>
        </form>
        <div class="text-center">
                <div class="spinner-border" role="status" *ngIf="isLoading">
                    <span class="sr-only" >Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>

