h4 {
    align-content: center;
}
textarea{
    height: auto;
    overflow: auto;
}
container{
    position: relative;
    min-width: 1024px;
    min-height: 768px;
    height: 100%;
    border: 1px solid blue;
    overflow: scroll;
    
}
.scrollable{
    height: 450px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 20px;
}
.hhh{
    overflow: hidden;
}
.right {
    float: right;
    color: white;
    padding: 5px 20px;
    border-radius: 20px 30px 0px 20px;
    margin-top: -10px;
    max-width: 450px;
    
}
.rightD{
    color: rgb(111, 238, 132);
    float: auto;
}
span{
    color: rgb(17, 39, 31);
}
textarea{
    border-radius: 30px;
    
}
p{
    float: left;
    color: white;
    padding: 5px 20px;
    border-radius: 0px 20px 20px 20px;
    word-wrap: normal;
    max-width: 450px;
}
td{
    padding: 0px 10px;
    margin-top: 105px;
}
img 
{
border-radius: 50%;
}
.c-b{
    padding: 4px;
    margin: 0px;
}
.c-t{
    padding-left: 35px; 
}
.card-class {
    height: auto;
    background-color: transparent !important;
    margin: 2px 0px !important;
    border: 0px;

}
textarea{
    overflow: hidden;
}

   
